* {
    box-sizing: border-box;
}

body {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: flex;
}

.grid-item(@weight) {
    flex: @weight;
}
